<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126193284701-uidrughtcpn03q00o0ljec18b18avrln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126193284701-uidrughtcpn03q00o0ljec18b18avrln</string>
	<key>API_KEY</key>
	<string>AIzaSyBoIxpBHNoyx5w-1p2hBEKpJjb86n4Rllk</string>
	<key>GCM_SENDER_ID</key>
	<string>126193284701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alterr.app</string>
	<key>PROJECT_ID</key>
	<string>alterr-9ef80</string>
	<key>STORAGE_BUCKET</key>
	<string>alterr-9ef80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126193284701:ios:18d3abbb0b85f3f3953fb4</string>
</dict>
</plist>